/************************ GLOBAL ************************/
textarea {
	height: auto;
	width: 77%;
}
body {
	margin: 0;
	padding: 0;
	background-image:url('../img/bright_squares.png');
	background-repeat:repeat;
	background-color: #f5f5f5;
	font-family: 'Roboto', sans-serif,;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
  	color: #333333;
}
ul {
	margin: 0;
	padding: 0;
}

a:hover {
	text-decoration: none;
}
.btn-yellow {
	background-color: hsl(48, 100%, 41%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fed738", endColorstr="#d1a700");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#fed738), to(#d1a700));
	background-image: -moz-linear-gradient(top, #fed738, #d1a700);
	background-image: -ms-linear-gradient(top, #fed738, #d1a700);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fed738), color-stop(100%, #d1a700));
	background-image: -webkit-linear-gradient(top, #fed738, #d1a700);
	background-image: -o-linear-gradient(top, #fed738, #d1a700);
	background-image: linear-gradient(#fed738, #d1a700);
	border-color: #d1a700 #d1a700 hsl(48, 100%, 36%);
	color: #333 !important;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
	-webkit-font-smoothing: antialiased;
}
p {
	font-family: 'Roboto', sans-serif,;
	font-weight: 400;
	font-size: 15px;
}
.page-headers {
	font-family: 'Roboto', sans-serif,;
	font-weight: 700;
	font-size: 24px;
}
.page-subheader {
	font-family: 'Roboto', sans-serif,;
	font-weight: 700;
	font-size: 18px;
}
.terms-regular {
	font-family: 'Roboto', sans-serif,;
	font-weight: 400;
	font-size: 15px;
	text-align: justify;
}
.terms-loud {
	font-family: 'Roboto', sans-serif,;
	font-weight: 700;
	font-size: 15px;
}

/****************************** HEADER ******************************/	
.logo {
	padding-top: 6px;
}
.isignin {
	font-size: 20px;
}
.isignin2 {
	font-size: 34px;
}
header {
	height: 78px;
	border-top: 1px solid #e6d90e;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	background: #4B4B4B; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM3MzczNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNDAyMDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #4B4B4B 0%, #040207 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4B4B4B), color-stop(100%,#040207)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4B4B4B 0%,#040207 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4B4B4B 0%,#040207 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4B4B4B 0%,#040207 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4B4B4B 0%,#040207 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4B4B4B', endColorstr='#040207',GradientType=0 ); /* IE6-8 */
}
nav ul li {
	float: left;
	list-style: none;
	margin-top: 16px;
}
nav ul li a {
	display: block;
	padding: 0 20px;
	line-height: 40px;
	font-size: 20px;
	color: #959595;
	font-family: 'Roboto', sans-serif,;
	font-weight: 300;
}
nav ul li a i {
	font-size: 14px;
}
nav ul li a:hover {
	color: #f5f5f5;
}
nav ul li a .active {
	color: #e6d90e;
}
.navfont {
	font-size: 12px;
	color: #959595;
	font-family: 'Roboto', sans-serif,;
	font-weight: 300;
	z-index: 4;
}

/****************************** CONTENT ******************************/
.featureheader{
	margin: 1px 0 0 0;
	font-family: 'Roboto', sans-serif,;
	font-weight: 300;
	font-size: 24px;
	color: #000000;
}
.featurecopy{
	margin: 0 0 20px 0;
	font-family: 'Roboto', sans-serif,;
	font-weight: 400;
	font-size: 15px;
	color: #000000;
}
.featurecopybold{
	font-family: 'Roboto', sans-serif,;
	font-weight: 700;
	font-size: 15px;
	color: #000000;
}
.isolution {
	text-align: center;
	padding: 40px 0 40px 0;
}
.ibenefit {
	text-align: center;
	padding: 40px 0 0 0;
}
.ifeature {
	text-align: center;
	padding: 40px 0 0 0;
}
.division {
	margin: 90px 0 90px 0;
	text-align: center;
}
.centerme {
	text-align: center;
}
.filler {
	margin-top: 200px;
}
.spacemobilemanager {
	margin-top: 60px;
}
.spacewebmanager {
	margin-top: 80px;
}
.spacefeatures {
	margin-top: 10px;
}
.solutions {
	text-align: center;
}
.solutionheader2 {
	margin-top: 70px;
	font-family: 'Roboto', sans-serif,;
	line-height: 48px;
	font-weight: 700;
	font-size: 44px;
	color: #494949;
}
.solutionheader {
	margin-top: 70px;
	font-family: 'Roboto', sans-serif,;
	line-height: 60px;
	font-weight: 700;
	font-size: 60px;
	color: #494949;
}
.solutionsubheader {
	font-family: 'Roboto', sans-serif,;
	font-weight: 300;
	font-size: 40px;
	color: #494949;
}
.monthlyprice {
	font-family: 'Roboto', sans-serif,;
	font-weight: 300;
	font-size: 26px;
	color: #000000;
}
a {
	color: #555555;
	text-decoration: none;
}
.included {
	list-style: none;
	font-size: 16px;
}
.includedfeatures {
	margin: 10px 0 0 24px;
	font-size: 16px;
	line-height: 20px;
	color: #808080;
}
.solutionnav {
	margin-top: 50px;
}
.priceheader {
	font-family: 'Roboto', sans-serif,;
	font-weight: 700;
	font-size: 24px;
	color: #262626;
	line-height: 20px;
	text-align: center;
}
.listmargin {
	margin-left: 30px;
	margin-bottom: 60px;
}
.onesolution {
	list-style: none;
}
.solutionrow {
	margin: 30px 0 30px 0;
}
.solutionprice {
	font-family: 'Roboto', sans-serif,;
	font-weight: 700;
	font-size: 16px;
	color: #6D6E71;
	margin-top: 40px;
	padding: 2px 2px;
	/*border: 1px solid #B2B2B2;
	border-radius: 5px;*/
}
.permonth {
	font-family: 'Roboto', sans-serif,;
	font-weight: 700;
	font-size: 14px;
	color: #6D6E71;
	margin-top: 40px;
}
.pricedescription {
	font-family: 'Roboto', sans-serif,;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #494949;
	width: 600px;
}
.introimage {
	text-align: center;
	margin-top: 100px;
}
.introloud {
	margin-top: 60px;
	font-family: 'Roboto', sans-serif,;
	font-weight: 700;
	font-size: 80px;
	line-height: 84px;
	color: #444444;
}
.intro {
	margin-top: 60px;
	font-family: 'Roboto', sans-serif,;
	font-weight: 300;
	font-size: 60px;
	line-height: 84px;
	color: #000000
}
.winner {
	margin-top: 40px;
}
.contact-form {
	padding: 60px 0 0 20px;
}
.forgot-password {
	font-family: 'Roboto', sans-serif,;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
	color: #005580
}
.tourbutton1 {
	text-align: center;
	position: relative;
	margin-top: 30px;
	z-index: 2;
}
.tour-btn {
	display: inline-block;
	padding: 16px 60px;
	font-size: 22px;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #fee62e, #e5c520);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fee62e), to(#e5c520));
	background-image: -webkit-linear-gradient(top, #fee62e, #e5c520);
	background-image: -o-linear-gradient(top, #fee62e, #e5c520);
	background-image: linear-gradient(to bottom, #fee62e, #e5c520);
	background-repeat: repeat-x;
	border: 1px solid #bbbbbb;
	border-color: #e5c520 #e5c520 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/**************************************** Plans & Pricing *******************/


/*************************** Sign Up **************************/
.signup {
	margin-top: 40px;
	padding: 4px 4px 4px 4px;
	/*background-color: #f2f2f2;
	border: solid 1px #B2B2B2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);*/

}
.formmargin {
	margin-left: 40px;
}
/*************************** Login ****************************/
.login-horizontal input {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
	height: 26px;
}
.field-group {
	text-align: center;
	margin-top: 10px;
}
.input[type="text"] {
	background-color: #ffffff;
	opacity: .5;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
.login-panel {
	margin-top: 77px;
	margin-bottom: 40px;
	min-height: 340px;
	margin-top: 77px;
}
.login-title {
	font-family: 'Roboto', sans-serif,;
	font-size: 34px;
	font-weight: 400;
	text-align: center;
}
.themission {
	text-align: center;
	margin-top: 10px;
}
.contact-subheader {
	font-family: 'Roboto', sans-serif,;
	font-weight: 700;
	font-size: 16px;
}
/****************************** TAKE THE TOUR ***********************/
.test-drive-mobile {
	background-image:url('../img/imobilemanager.png');
	min-height: 680px;
	width: auto;
}
.marginfromtop {
	margin-top: 60px;
}
.marginfrombottom {
	margin-bottom: 60px;
}
.tourform1 {
	margin-top: 70px;
	margin-left: 140px;
}
.dateselect {
	width:100px;
}
.mainheader{
	margin: 70px 0 0 0;
	font-family: 'Roboto', sans-serif,;
	font-weight: 300;
	font-size: 40px;
	color: #494949;
}
.winheader{
	margin: 160px 0 0 0;
	font-family: 'Roboto', sans-serif,;
	font-weight: 300;
	font-size: 70px;
	color: #494949;
}
.qrcodearea {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
	margin-right: 40px;
	margin-top: 80px;
}
.ilead {
	text-align: center;
	margin-bottom: 40px;
}
.iplay {
	text-align: center;
	margin-top: 60px;
}
.mobilemanagerarea {
	text-align: center;
	margin-right: 40px;
	margin-top: 40px;
}
.spinner {
	text-align: center;
	margin: 80px 0 20px 0;
}
.greater-control, .customer-excitement, .secure, .robust, .hassle,
.test-drive {
	font-size: 56px;
	line-height: 50px;
}
.big{
	font-family: 'Roboto', sans-serif,;
	font-weight: 300;
	font-size: 120px;
	color: #494949;
	line-height: 94px;
}
.medium{
	font-family: 'Roboto', sans-serif,;
	font-weight: 300;
	font-size: 48px;
	color: #494949;
	line-height: 42px;
}
.small{
	font-size: 18px;
	line-height: 12px;
}
.little{
	margin-left: 6px;
}
.tourheader {
	margin-top: 160px;
	font-family: 'Roboto', sans-serif,;
	font-weight: 300;
	font-size: 40px;
	color: #000000;
}
.breather {
	margin-top: 10px;
}
.breathmore {
	margin-top: 50px;
}
.tourcopy {
	font-family: 'Roboto', sans-serif,;
	font-weight: 300;
	font-size: 20px;
	line-height: 26px;
	color: #494949;
}
.tourinstruction {
	font-family: 'Roboto', sans-serif,;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	color: #808080;
}
.pricebar {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: solid 1px #B2B2B2;
	padding: 10px 4px 10px 4px;
	margin-top: 30px;
}
.createevent-btn {
	display: inline-block;
	padding: 6px 70px;
	font-size: 14px;
	line-height: 20px;
	color: #f2f2f2;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #0E88DB, #0B6CCE);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0E88DB), to(#0B6CCE));
	background-image: -webkit-linear-gradient(top, #0E88DB, #0B6CCE);
	background-image: -o-linear-gradient(top, #0E88DB, #0B6CCE);
	background-image: linear-gradient(to bottom, #0E88DB, #0B6CCE);
	background-repeat: repeat-x;
	border: 1px solid #bbbbbb;
	border-color: #0B6CCE #0B6CCE #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.special-btn {
	display: inline-block;
	padding: 16px 16px;
	font-size: 22px;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #fee62e, #e5c520);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fee62e), to(#e5c520));
	background-image: -webkit-linear-gradient(top, #fee62e, #e5c520);
	background-image: -o-linear-gradient(top, #fee62e, #e5c520);
	background-image: linear-gradient(to bottom, #fee62e, #e5c520);
	background-repeat: repeat-x;
	border: 1px solid #bbbbbb;
	border-color: #e5c520 #e5c520 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/****************************** FOOTER ******************************/
.copyright {
	color: #f5f5f5;
	font-size: 12px;
}

footer {
	margin: 40px 0 0 0;
	padding: 20px 0;
	bottom:0;
	min-height: 60px;
	border-top: solid 1px #404040;
	background: #d7d7d7; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: #4B4B4B; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM3MzczNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNDAyMDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #4B4B4B 0%, #040207 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4B4B4B), color-stop(100%,#040207)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4B4B4B 0%,#040207 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4B4B4B 0%,#040207 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4B4B4B 0%,#040207 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4B4B4B 0%,#040207 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4B4B4B', endColorstr='#040207',GradientType=0 ); /* IE6-8 */}


footer :first-line {
	color: #f5f5f5;
}
footer ul {
	float: left;
}
footer ul li {
	list-style: none;
	font-size: 14px;
	font-weight: 400;
}
footer a {
	color: #959595;
}
footer a:hover {
	color: #fff;
}




/*************** NEW CSS - Shun 4/07/2013 ***************/


/* Global */
ul.display_inline li {
list-style: none;
float: left;
}

/* Homepage */
li > a.tour-btn {
	margin-right: 10px;
}
/************Pricing***********/

.plans-pricing-header {
	margin-top: 40px;
}
.priceheader{
	font-family: 'Roboto', sans-serif,;
	font-weight: 300;
	font-size: 40px;
	color: #494949;
}
.call {
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;
	color: #808080;
	margin-top: 10px;
}
.phone-number {
	font-weight: 700;
	font-size: 20px;
	line-height: 18px;
	color: #808080;
	margin-left: 22px;
}
.service-name {
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
}
.service-description {
	text-align: center;
	font-size: 12px;
	line-height: 14px;
}
.serviceups {

}
.div-left {
  border-left: solid 1px #E5E5E5;
}
.div-right {
  border-left: solid 1px #E5E5E5;
}
.yellow-btn {
  display: inline-block;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  text-align: center;
  text-shadow: 0 1px 1px rgba(35, 35, 35, 0.35);
  vertical-align: middle;
  cursor: pointer;
  background-color: #FFF599;
  background-image: -moz-linear-gradient(top, #FFF599, #FFEA50);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF599), to(#FFEA50));
  background-image: -webkit-linear-gradient(top, #FFF599, #FFEA50);
  background-image: -o-linear-gradient(top, #FFF599, #FFEA50);
  background-image: linear-gradient(to bottom, #FFF599, #FFEA50);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  border-color: #FFEA50 #FFEA50 #FFF599;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #FFEA50;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.yellow-btn:hover {
  display: inline-block;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 20px;
  color: #4C4C4C;
  text-align: center;
  text-shadow: 0 1px 1px rgba(35, 35, 35, 0.35);
  vertical-align: middle;
  cursor: pointer;
  background-color: #FFEA50;
  background-image: -moz-linear-gradient(top, #FFEA50, #FFE41D);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFEA50), to(#FFE41D));
  background-image: -webkit-linear-gradient(top, #FFEA50, #FFE41D);
  background-image: -o-linear-gradient(top, #FFEA50, #FFE41D);
  background-image: linear-gradient(to bottom, #FFEA50, #FFE41D);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  border-color: #FFE41D #FFE41D #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #FFE41D;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.service-price {
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	margin-top: 8px;
}
.feature-line {
	min-height: 30px;
	border-bottom: 1px dashed #E5E5E5;
	padding: 2px 0 8px 0;
	-webkit-border-radius: 10px;
  	-moz-border-radius: 10px;
  	border-radius: 10px;
}
.feature-line:hover {
	background-color: #DCEEF4;
}
.feature-line p {
	margin: 14px 0 4px 0;
}
.green {
	color: #0CAD27;
	font-size: 18px;
}
.red {
	color: #F22727;
	font-size: 18px;
}
.blue {
	color: #666666;
	font-size: 18px;
	font-weight: 700;
}
.last-button {
	margin-top: 15px;
}
.company-form {
	margin-top: 80px;
}
.short-field {
	width: 200px;
}
.state-field {
	width: 50px ;
}
.zip-field {
	width: 120px;
}
.blue-btn {
  display: inline-block;
  padding: 4px 16px;
  font-size: 14px;
  line-height: 20px;
  color: #E5E5E5;
  text-align: center;
  text-shadow: 0 1px 1px rgba(35, 35, 35, 0.35);
  vertical-align: middle;
  cursor: pointer;
  background-color: #0093E5;
  background-image: -moz-linear-gradient(top, #0093E5, #0071BC);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0093E5), to(#0071BC));
  background-image: -webkit-linear-gradient(top, #0093E5, #0071BC);
  background-image: -o-linear-gradient(top, #0093E5, #0071BC);
  background-image: linear-gradient(to bottom, #0093E5, #0071BC);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  border-color: #0071BC #0071BC #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #0071BC;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0093E5', endColorstr='#0071BC', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.blue-btn:hover {
  display: inline-block;
  padding: 4px 16px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(35, 35, 35, 0.35);
  vertical-align: middle;
  cursor: pointer;
  background-color: #00B1FF;
  background-image: -moz-linear-gradient(top, #00B1FF, #0093E5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00B1FF), to(#0093E5));
  background-image: -webkit-linear-gradient(top, #00B1FF, #0093E5);
  background-image: -o-linear-gradient(top, #00B1FF, #0093E5);
  background-image: linear-gradient(to bottom, #00B1FF, #0093E5);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  border-color: #0093E5 #0093E5 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #0093E5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00B1FF', endColorstr='#0093E5', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.winning-number {
	font-size: 30px;
	font-weight: 700;
	color: #F7931E;
}
.price-list-header {
	font-family: 'Roboto', sans-serif,;
	font-weight: 700;
	font-size: 24px;
	color: #262626;
	line-height: 20px;
}
.subscription-levels {
	padding-top: 20px;
}
.subscription-level-division {
	background-color: #808080;
	padding-bottom: 20px;
	margin-top: 20px;
}
.single-price-list-feature {
	padding-top: 20px;
}
.single-price-list-feature ul li{
	list-style: none;
	padding-top: 8px;
}
.denomination {
	padding: 0 10px 0 10px;
}
.price-list-feature-description, .price-list-feature-basic{
	opacity: .60;
}
.price-list-feature-description:hover, .price-list-feature-basic:hover{
	opacity: .99;
}
.checks {
	padding-top: 26px;
}
.price-list-feature-icon {
	width: 40px;
	height: auto;
	float: right;
}
.price-list-feature-name {
	font-size: 16px;
	line-height: 5px;
	color: #f7931e;
}
.price-list-feature-copy {
	font-size: 14px;
	font-weight: 400;
	color: #666666;
}
.product-type {
	font-size: 16px;
	font-style: italic;
	color: #f2f2f2;
}
.select-plan-name {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	color: #f5f5f5;
	text-shadow: 0 1px 1px rgba(35, 35, 35, 0.55);
}
.select-plan-name-big {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	color: #f5f5f5;
	text-shadow: 0 1px 1px rgba(35, 35, 35, 0.55);
	margin-top: 10px;
}
.select-plan-summary {
	font-size: 12px;
	line-height: 14px;
	font-weight: 700;
	text-align: center;
	color: #f5f5f5;
}
.offer {
	font-size: 13px;
}
.trademark {
	font-size: 12px;
}
.italic {
	font-style: italic;
}